* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    /**border: solid 1px black;**/
}
.contact_form {
    text-align: center;
    /**border: solid 1px black;**/
    height: 100px;
}

.final {
    width: 1040px;
}

.plan {
    width: 340px;
    height: 520px;
    background: rgb(92, 206, 147);
    color: white;
}

div.title {
    position: relative;
    width: 250px;
    margin: 1px auto;
    top: 70px;
}

.logo {
    /**border: solid 1px black;**/
    margin: 120px auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 20%;
}

.location,
.tel,
.site,
.email {
    display: flex;
    justify-content: space-evenly;
    /**border: solid 1px black;**/
    padding: 20px;
}
h1.titre {
    padding: 10% 7%;
    height: 10px;
    color: black;
}

h5 {
    color: black;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid #f2f2f2;
}

div.name_email {
    display: flex;
    justify-content: space-around;
}

div.final {
    display: flex;
}

div.formulaire {
    background: white;
    width: 700px;
    height: 520px;
}

div.subject {
    display: flex;
    justify-content: left;
    padding: 5% 7%;
    height: 80px;
}
.mess {
    display: flex;
    flex-direction: column;
    padding: 5% 7%;
}
textarea {
    height: 80px;
    border: none;
    outline: none;
    border-bottom: 1px solid #f2f2f2;
}
button {
    margin: 5% 0;
    padding: 1em;
    background: rgb(92, 206, 147);
    color: white;
    border-radius: 5%;
    border: transparent;
}
label {
    color: #aca6a6;
}
